# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEA
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# Android
*.apk
*.ap_
*.aab
*.dex
local.properties
captures/
.externalNativeBuild/
.cxx/
google-services.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
composeApp/cache/
composeApp/kcef-bundle/

# Kotlin
*.kotlin_module
.kotlin/

# Compose
*.compose

# Room
*.db
*.db-shm
*.db-wal

# Logs
*.log

# Cache
.cache/

# Temporary files
*.tmp
*.temp
*.swp
*.bak

# Keystore
*.jks
*.keystore
keystore.properties

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

