<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 存储权限 - Android 10 以下需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    
    <!-- Android 13+ 图片/视频权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".PixivApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ProjectU"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectU.Splash"
        android:requestLegacyExternalStorage="true">
        <!-- requestLegacyExternalStorage: Android 10 临时兼容旧存储模式 -->
        
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Deep Link: pixiv.net URLs -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="https" />
                <data android:host="www.pixiv.net" />
                <data android:host="pixiv.net" />
                
                <!-- 用户页面: /users/{id} 或 /en/users/{id} -->
                <data android:pathPattern="/users/.*" />
                <data android:pathPattern="/en/users/.*" />
                
                <!-- 作品详情: /artworks/{id} 或 /en/artworks/{id} -->
                <data android:pathPattern="/artworks/.*" />
                <data android:pathPattern="/en/artworks/.*" />
                
                <!-- 小说详情: /novel/show.php?id={id} -->
                <data android:pathPrefix="/novel/show.php" />
                
                <!-- 小说系列: /novel/series/{id} -->
                <data android:pathPattern="/novel/series/.*" />
                
                <!-- 漫画系列: /user/{userId}/series/{seriesId} -->
                <data android:pathPattern="/user/.*/series/.*" />
            </intent-filter>
            
            <!-- Deep Link: HTTP scheme (redirect to HTTPS) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="http" />
                <data android:host="www.pixiv.net" />
                <data android:host="pixiv.net" />
                
                <data android:pathPattern="/users/.*" />
                <data android:pathPattern="/en/users/.*" />
                <data android:pathPattern="/artworks/.*" />
                <data android:pathPattern="/en/artworks/.*" />
                <data android:pathPrefix="/novel/show.php" />
                <data android:pathPattern="/novel/series/.*" />
                <data android:pathPattern="/user/.*/series/.*" />
            </intent-filter>
            
            <!-- App内部 Deep Link: projectu:// scheme -->
            <!-- 用于 Widget 点击跳转和应用内导航 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="projectu" />
                <data android:host="artwork" />
                <data android:host="widget" />
                <data android:host="user" />
            </intent-filter>
            
            <!-- 接收分享的图片 - 用于以图搜图功能 (SauceNAO) -->
            <intent-filter android:label="@string/share_image_search">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        
        <!-- Activity Alias for ascii2d image search -->
        <activity-alias
            android:name=".MainActivityAscii2d"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:label="@string/share_image_search_ascii2d">
            <intent-filter android:label="@string/share_image_search_ascii2d">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity-alias>
        
        <!-- Widget Configuration Activity -->
        <activity
            android:name="com.projectu.widget.WidgetConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectU"
            android:label="@string/widget_config_title" />
        
        <!-- Pixiv Widget Provider -->
        <receiver
            android:name="com.projectu.widget.PixivWidget"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.projectu.widget.ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        
        <!-- Widget Click Receiver -->
        <!-- 用于接收 Widget 点击事件，解决应用强制停止后 PendingIntent 数据丢失的问题 -->
        <receiver
            android:name="com.projectu.widget.WidgetClickReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.projectu.widget.ACTION_WIDGET_CLICK" />
                <action android:name="com.projectu.widget.ACTION_WIDGET_REFRESH" />
            </intent-filter>
        </receiver>
        
        <!-- FileProvider for sharing files (Android 7.0+) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>

